.background{
    background:linear-gradient(to bottom,#21cac4,#bce332);
    height: 84vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.signInCard{
    width: 22%;
    height: 75%;
    padding: 10px

}

.formWrapper{
    padding: 2px;
}

.form{
    text-align: center;
    margin-top: 13px;
}
